$font-pt-sans-narrow: 'PT Sans Narrow', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-simonetta: 'Simonetta', sans-serif;

//L'image de background principal de la page + une couleur ressemblante aux motifs de l'image de background
$background-img: url('../img/main-background.png');
$background-fake-color: #F1F2EF;

$margin-x: 10%;
$margin-y: 3rem;//sm:2rem-
$margin-y-s: 1.5rem;//sm:1.2rem-
