{% extends "menu.html" %}
{% block title %}Ajouter un nouveau Compte{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
    .important {
        color: #336699;
    }

    #lgn,
    #pwd,
    #btnCo {
        width: 300px;
    }
</style>
{% endblock %}
{% block content %}
<h1><center>Ajouter un compte </h1></center>
<form method="POST" action="">
    </br>
    <input type="text" class="form-control" id="login" name="login" placeholder="Login" /></br>
    <input type="password" class="form-control" id="mdp" name="mdp" placeholder="Mot de passe" /></br>
    <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" /></br>
    <input type="text" class="form-control" id="date" name="date" placeholder="Date" /></br>
    <label for="group1">Lier un service?</label>
    <div class="input-group" id="group1">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" name="checkService">
            </div>
        </div>
        <select class="form-control" name="service">
            {% for s in v %}
            <option value="">{{ s.url }}</option>
            {% endfor %}
        </select>
    </div></br>
    <input type="submit" name="btnCo" class="btn btn-outline-success" value="Ajouter" />
</form>
{% endblock %}