/* raleway-100 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/raleway/raleway-v26-latin-100.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v26-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v26-latin-100.woff2") format("woff2"), url("../fonts/raleway/raleway-v26-latin-100.woff") format("woff"), url("../fonts/raleway/raleway-v26-latin-100.ttf") format("truetype"), url("../fonts/raleway/raleway-v26-latin-100.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/raleway-v26-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v26-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v26-latin-regular.woff2") format("woff2"), url("../fonts/raleway/raleway-v26-latin-regular.woff") format("woff"), url("../fonts/raleway/raleway-v26-latin-regular.ttf") format("truetype"), url("../fonts/raleway/raleway-v26-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway/raleway-v26-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v26-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v26-latin-500.woff2") format("woff2"), url("../fonts/raleway/raleway-v26-latin-500.woff") format("woff"), url("../fonts/raleway/raleway-v26-latin-500.ttf") format("truetype"), url("../fonts/raleway/raleway-v26-latin-500.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-v26-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v26-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v26-latin-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v26-latin-700.woff") format("woff"), url("../fonts/raleway/raleway-v26-latin-700.ttf") format("truetype"), url("../fonts/raleway/raleway-v26-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/raleway/raleway-v26-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway/raleway-v26-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/raleway-v26-latin-900.woff2") format("woff2"), url("../fonts/raleway/raleway-v26-latin-900.woff") format("woff"), url("../fonts/raleway/raleway-v26-latin-900.ttf") format("truetype"), url("../fonts/raleway/raleway-v26-latin-900.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* helvetica-bold */
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/helvetica/Helvetica-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/* helvetica-light */
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/helvetica/Helvetica-Light.ttf") format("truetype");
  /* Safari, Android, iOS */
}
/*Fontweight :
  Thin : 100
  Extralight : 200
  Light : 300
  Regular : 400
  Medium : 500
  SemiBold : 600
  Bold : 700
  ExtraBold : 800
  Black : 900
*/
/*Fontweight :
  Thin : 100
  Extralight : 200
  Light : 300
  Regular : 400
  Medium : 500
  SemiBold : 600
  Bold : 700
  ExtraBold : 800
  Black : 900
*/
.hero {
  margin-top: 6.5rem;
  position: relative;
  height: 20rem;
  background-image: url("../img/hero/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  box-shadow: inset 5px 5px 13px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .hero {
    height: 20rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .hero {
    height: 25rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .hero {
    height: 35rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .hero {
    height: 35rem;
  }
}
.hero:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-left: 30px solid #ffffff;
  border-top: 100vw solid transparent;
  bottom: 15px;
  right: -15px;
  transform: rotate(270deg);
  transform-origin: bottom;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .hero:after {
    border-left: 60px solid #ffffff;
    bottom: 30px;
    right: -30px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .hero:after {
    border-left: 80px solid #ffffff;
    bottom: 40px;
    right: -40px;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .hero:after {
    border-left: 80px solid #ffffff;
    bottom: 40px;
    right: -40px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .hero {
    margin-top: 8rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .hero {
    margin-top: 10rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .hero {
    margin-top: 10rem;
  }
}

/*Fontweight :
  Thin : 100
  Extralight : 200
  Light : 300
  Regular : 400
  Medium : 500
  SemiBold : 600
  Bold : 700
  ExtraBold : 800
  Black : 900
*/
.section1 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .section1 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .section1 {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .section1 {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .section1 {
    width: 1640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
  }
}
.section1 .desc .cards {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4vw;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .section1 .desc .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4vw;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .section1 .desc .cards {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6vw;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .section1 .desc .cards {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .section1 .desc .cards {
    width: 1640px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
  }
}
.section1 .desc .cards .card {
  font-family: "Raleway", "Arial";
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  width: 100%;
}
.section1 .desc .cards .card:first-child {
  margin-top: 0;
}
.section1 .desc .cards .card .card__img {
  width: 100%;
  border-radius: 13px 13px 0 0;
}
.section1 .desc .cards .card .card__content {
  padding: 2rem;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .section1 .desc .cards .card .card__content {
    padding: 3rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .section1 .desc .cards .card .card__content {
    padding: 5rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .section1 .desc .cards .card .card__content {
    padding: 5rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .section1 .desc .cards .card .card__content {
    padding: 5rem;
  }
}
.section1 .desc .cards .card .card__content .card__content__title {
  font-size: 1.6rem;
  font-weight: 900;
  color: #28499a;
  text-transform: uppercase;
}
.section1 .desc .cards .card .card__content .card__content__desc {
  margin-top: 1.75rem;
  font-size: 1.4rem;
  color: #000000;
}
.section1 .desc .cards .card .card__content .card__content__btn {
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*Fontweight :
  Thin : 100
  Extralight : 200
  Light : 300
  Regular : 400
  Medium : 500
  SemiBold : 600
  Bold : 700
  ExtraBold : 800
  Black : 900
*/
.section2 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .section2 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .section2 {
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .section2 {
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .section2 {
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
  }
}
.section2 .desc {
  margin-top: 3.5rem;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .section2 .desc {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .section2 .desc {
    margin-top: 2.9545454545rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .section2 .desc {
    margin-top: 3.25rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .section2 .desc {
    margin-top: 3.25rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
.section2 .desc .input__group {
  margin-top: 1.75rem;
  width: 70%;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .section2 .desc .input__group:nth-child(2) {
    margin-top: 0;
  }
  .section2 .desc .input__group:not(.textarea) {
    width: 45%;
  }
  .section2 .desc .input__group.textarea {
    width: 100%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .section2 .desc .input__group:nth-child(2) {
    margin-top: 0;
  }
  .section2 .desc .input__group:not(.textarea) {
    width: 45%;
  }
  .section2 .desc .input__group.textarea {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .section2 .desc .input__group:nth-child(2) {
    margin-top: 0;
  }
  .section2 .desc .input__group:not(.textarea) {
    width: 45%;
  }
  .section2 .desc .input__group.textarea {
    width: 100%;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .section2 .desc .input__group:nth-child(2) {
    margin-top: 0;
  }
  .section2 .desc .input__group:not(.textarea) {
    width: 45%;
  }
  .section2 .desc .input__group.textarea {
    width: 100%;
  }
}
.section2 .desc .input__group:first-child {
  margin-top: 0;
}
.section2 .desc .input__group input, .section2 .desc .input__group textarea {
  width: 100%;
}
.section2 .desc p.information {
  margin-top: 1.5rem;
  padding-left: 1rem;
  color: #C4C4C4;
  font-family: "Raleway", "Arial";
  font-size: 1.4rem;
  position: relative;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .section2 .desc p.information {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .section2 .desc p.information {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .section2 .desc p.information {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .section2 .desc p.information {
    font-size: 1.6rem;
  }
}
.section2 .desc p.information:before {
  content: "*";
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Raleway", "Arial";
  font-size: 1.4rem;
  color: #C95D63;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .section2 .desc p.information:before {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .section2 .desc p.information:before {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .section2 .desc p.information:before {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .section2 .desc p.information:before {
    font-size: 1.6rem;
  }
}

html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.emoj-block {
  position: relative;
  display: inline;
}

.emoj--france {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  right: -2.5rem;
  top: calc(50% - 1rem);
  background: linear-gradient(90deg, rgba(40, 73, 154, 0.8) 0%, rgba(40, 73, 154, 0.8) 17.71%, rgba(255, 255, 255, 0.44) 49.99%, rgba(220, 45, 55, 0.8) 82.81%, rgba(220, 45, 55, 0.8) 100%);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  position: relative;
  list-style-type: none;
  padding-left: 1.4rem;
  margin-bottom: 1rem;
}
ul li:last-child {
  margin-bottom: 0;
}
ul li:before {
  content: " ";
  position: absolute;
  top: 0.5rem;
  left: 0;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  background-color: #C95D63;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  ul li:before {
    top: 0.4rem;
    left: 0;
    height: 0.7rem;
    width: 0.7rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  ul li {
    padding-left: 2rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button.button--primary {
  display: block;
  border: 0;
  border-radius: 5px;
  font-size: 1.4rem;
  font-family: "Raleway", "Arial";
  color: #ffffff;
  padding: 1.2rem;
  background-color: #28499A;
  cursor: pointer;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  button.button--primary {
    padding: 1.6rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  button.button--primary {
    padding: 2rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  button.button--primary {
    padding: 2.4rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  button.button--primary {
    padding: 2.4rem;
    font-size: 1.6rem;
  }
}
button.button--primary.pink {
  background-color: #C95D63;
}

button.button--secondary {
  display: block;
  border: 1px solid;
  border-radius: 5px;
  font-size: 1.4rem;
  font-family: "Raleway", "Arial";
  color: #28499A;
  padding: 1.2rem;
  border-color: #28499A;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  button.button--secondary {
    padding: 1.6rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  button.button--secondary {
    padding: 2rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  button.button--secondary {
    padding: 2.4rem;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  button.button--secondary {
    padding: 2.4rem;
    font-size: 1.6rem;
  }
}
button.button--secondary.pink {
  color: #C95D63;
  border-color: #C95D63;
}

.input__group h3 {
  display: inline-block;
  font-family: "Raleway", "Arial";
  font-size: 1.4rem;
  font-weight: 500;
  color: #000000;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .input__group h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .input__group h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .input__group h3 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .input__group h3 {
    font-size: 1.6rem;
  }
}
.input__group input, .input__group textarea {
  display: block;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  font-family: "Raleway", "Arial";
  font-size: 1.4rem;
  color: #000000;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .input__group input, .input__group textarea {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .input__group input, .input__group textarea {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .input__group input, .input__group textarea {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .input__group input, .input__group textarea {
    font-size: 1.6rem;
  }
}
.input__group input::placeholder, .input__group textarea::placeholder {
  color: #C4C4C4;
}
.input__group.required h3 {
  position: relative;
}
.input__group.required h3:after {
  content: "*";
  position: absolute;
  top: 0;
  right: -1rem;
  font-family: "Raleway", "Arial";
  font-size: 1.4rem;
  color: #C95D63;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .input__group.required h3:after {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .input__group.required h3:after {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .input__group.required h3:after {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .input__group.required h3:after {
    font-size: 1.6rem;
  }
}

input[type=submit] {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 40%;
  max-width: 25rem;
  background-color: #C95D63;
  border: 1px solid #883E42;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Raleway", "Arial";
  font-size: 1.4rem;
  cursor: pointer;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  input[type=submit] {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  input[type=submit] {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  input[type=submit] {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  input[type=submit] {
    font-size: 1.6rem;
  }
}

hr {
  display: block;
  margin: 3.5rem auto;
  width: 60%;
  height: 1px;
  background-color: #C4C4C4;
  border: 0;
}
hr.separator--multicolor {
  background: linear-gradient(to right, #28499a, #00a8d6);
}

.title--primary {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .title--primary {
    display: block;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .title--primary {
    display: block;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .title--primary {
    display: block;
  }
}
.title--primary h1 {
  position: relative;
  display: inline-block;
  font-family: "Raleway", "Arial";
  font-weight: 900;
  font-size: 2rem;
  color: #28499a;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .title--primary h1 {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .title--primary h1 {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .title--primary h1 {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .title--primary h1 {
    font-size: 2.6rem;
  }
}
.title--primary h1::after {
  content: " ";
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 1px solid #089abe;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .title--primary h1::after {
    width: 20%;
    margin: 0;
    left: -5%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .title--primary h1::after {
    width: 20%;
    margin: 0;
    left: -5%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .title--primary h1::after {
    width: 30%;
    margin: 0;
    left: -5%;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .title--primary h1::after {
    width: 30%;
    margin: 0;
    left: -5%;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .container {
    max-width: 940px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .container {
    max-width: 1240px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .container {
    max-width: 1640px;
    padding-left: 0;
    padding-right: 0;
  }
}

.link-before {
  margin-top: 10rem;
  margin-bottom: 3.5rem;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .link-before {
    margin-top: 11rem;
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .link-before {
    margin-top: 14.5rem;
    margin-bottom: 6.5rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .link-before {
    margin-top: 16.5rem;
    margin-bottom: 6.5rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .link-before {
    margin-top: 16.5rem;
    margin-bottom: 6.5rem;
  }
}
.link-before a {
  position: relative;
  font-family: "Raleway", "Arial";
  font-size: 1.4rem;
  color: #000000;
  padding-left: 1rem;
  text-decoration: none;
}
.link-before a:before {
  content: "<";
  position: absolute;
  line-height: 1.4rem;
  left: -1rem;
}
.link-before a:after {
  content: " ";
  position: absolute;
  bottom: -0.5rem;
  left: 1rem;
  width: calc(100% - 1rem);
  height: 1px;
  border: 1px dashed #000000;
}

/*# sourceMappingURL=main.css.map */
