/*Fontweight :
  Thin : 100
  Extralight : 200
  Light : 300
  Regular : 400
  Medium : 500
  SemiBold : 600
  Bold : 700
  ExtraBold : 800
  Black : 900
*/
footer.footer {
  background-color: #28499a;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  footer.footer {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  footer.footer {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  footer.footer {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  footer.footer {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  footer.footer > :nth-child(1) {
    order: 5;
  }
  footer.footer > :nth-child(2) {
    order: 2;
  }
  footer.footer > :nth-child(3) {
    order: 3;
  }
  footer.footer > :nth-child(4) {
    order: 4;
  }
  footer.footer > :nth-child(5) {
    order: 1;
  }
  footer.footer hr {
    display: none;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  footer.footer > :nth-child(1) {
    order: 5;
  }
  footer.footer > :nth-child(2) {
    order: 2;
  }
  footer.footer > :nth-child(3) {
    order: 3;
  }
  footer.footer > :nth-child(4) {
    order: 4;
  }
  footer.footer > :nth-child(5) {
    order: 1;
  }
  footer.footer hr {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  footer.footer > :nth-child(1) {
    order: 5;
  }
  footer.footer > :nth-child(2) {
    order: 2;
  }
  footer.footer > :nth-child(3) {
    order: 3;
  }
  footer.footer > :nth-child(4) {
    order: 4;
  }
  footer.footer > :nth-child(5) {
    order: 1;
  }
  footer.footer hr {
    display: none;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  footer.footer > :nth-child(1) {
    order: 5;
  }
  footer.footer > :nth-child(2) {
    order: 2;
  }
  footer.footer > :nth-child(3) {
    order: 3;
  }
  footer.footer > :nth-child(4) {
    order: 4;
  }
  footer.footer > :nth-child(5) {
    order: 1;
  }
  footer.footer hr {
    display: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  footer.footer .footer__section {
    width: 32%;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  footer.footer .footer__section {
    width: 32%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  footer.footer .footer__section {
    width: 32%;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  footer.footer .footer__section {
    width: 32%;
  }
}
footer.footer .footer__section h3, footer.footer .footer__section p, footer.footer .footer__section li, footer.footer .footer__section a {
  font-family: "Raleway", "Arial";
  font-weight: 500;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  footer.footer .footer__section h3, footer.footer .footer__section p, footer.footer .footer__section li, footer.footer .footer__section a {
    text-align: left;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  footer.footer .footer__section h3, footer.footer .footer__section p, footer.footer .footer__section li, footer.footer .footer__section a {
    text-align: left;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  footer.footer .footer__section h3, footer.footer .footer__section p, footer.footer .footer__section li, footer.footer .footer__section a {
    text-align: left;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  footer.footer .footer__section h3, footer.footer .footer__section p, footer.footer .footer__section li, footer.footer .footer__section a {
    text-align: left;
    font-size: 1.6rem;
  }
}
footer.footer .footer__section h3 {
  text-transform: uppercase;
  text-decoration: underline;
}
footer.footer .footer__section a {
  text-decoration: underline;
}
footer.footer .footer__section ul {
  padding-top: 0.2rem;
}
footer.footer .footer__section ul li {
  text-transform: uppercase;
  margin-bottom: 0;
}
footer.footer .footer__section ul li:before {
  display: none;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  footer.footer .footer__section ul li {
    margin-bottom: 0.2rem;
    padding-left: 1rem;
  }
  footer.footer .footer__section ul li:before {
    display: block;
    background-color: #ffffff;
    height: 0.4rem;
    width: 0.4rem;
    top: 0.6rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  footer.footer .footer__section ul li {
    margin-bottom: 0.2rem;
    padding-left: 1rem;
  }
  footer.footer .footer__section ul li:before {
    display: block;
    background-color: #ffffff;
    height: 0.4rem;
    width: 0.4rem;
    top: 0.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  footer.footer .footer__section ul li {
    margin-bottom: 0.2rem;
    padding-left: 1rem;
  }
  footer.footer .footer__section ul li:before {
    display: block;
    background-color: #ffffff;
    height: 0.4rem;
    width: 0.4rem;
    top: 0.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  footer.footer .footer__section ul li {
    margin-bottom: 0.2rem;
    padding-left: 1rem;
  }
  footer.footer .footer__section ul li:before {
    display: block;
    background-color: #ffffff;
    height: 0.4rem;
    width: 0.4rem;
    top: 0.6rem;
  }
}
footer.footer .footer__section ul li a {
  text-decoration: none;
}
footer.footer .footer__section .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1.1666666667rem;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  footer.footer .footer__section .logo {
    justify-content: flex-start;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  footer.footer .footer__section .logo {
    justify-content: flex-start;
    margin-bottom: 2.1666666667rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  footer.footer .footer__section .logo {
    justify-content: flex-start;
    margin-bottom: 2.1666666667rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  footer.footer .footer__section .logo {
    justify-content: flex-start;
    margin-bottom: 2.1666666667rem;
  }
}
footer.footer .footer__section .logo h1 {
  font-family: "Raleway", "Arial";
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}
footer.footer .footer__section .logo h1 .color {
  color: #089abe;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  footer.footer .footer__section .logo h1 {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  footer.footer .footer__section .logo h1 {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  footer.footer .footer__section .logo h1 {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  footer.footer .footer__section .logo h1 {
    font-size: 2.6rem;
  }
}
footer.footer .footer__section .logo img {
  height: 6rem;
  width: auto;
  padding-right: 1.2rem;
}

/*# sourceMappingURL=footer.css.map */
