.card {
  background-color: white;
  width: auto;
  min-width: 15rem;
  height: 100%;
  font-family: "Montserrat";
  letter-spacing: 0.5px;
  box-shadow: 0px 0px 8px 5px rgba(255, 255, 255, 0.1);
}
.card.car .header-img {
  width: 100%;
}
.card.car p {
  font-weight: 500;
  font-size: 0.6rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.card.car .card-body {
  padding: 0.7rem 1rem;
}
.card.car .titre-marque {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.card.car .titre-marque h1 {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
}
.card.car .titre-marque img {
  height: 1.2rem;
  cursor: pointer;
}
.card.car ul.info-voiture {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}
.card.car ul.info-voiture li {
  width: 45%;
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  align-items: center;
  list-style-type: none;
}
.card.car ul.info-voiture li img {
  height: 0.8rem;
}
.card.car ul.info-voiture li p {
  margin-left: 0.35rem;
}
.card.car ul.info-voiture li a {
  text-transform: lowercase;
  font-size: 0.6rem;
}
.card.car .info-vente {
  position: relative;
  width: 100%;
  min-height: 2.5rem;
  padding: 0.7rem 0;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
}
.card.car .info-vente.forthcoming .left p, .card.car .info-vente.forthcoming .right p {
  color: #daac00;
}
.card.car .info-vente.forthcoming .title-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.card.car .info-vente.forthcoming .title-block h6 {
  text-align: center;
  font-size: 0.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
.card.car .info-vente.forthcoming .title-block .left {
  width: 50%;
}
.card.car .info-vente.forthcoming .title-block .left h6 {
  margin-right: 1.4rem;
  text-align: right;
}
.card.car .info-vente.forthcoming .title-block .right {
  width: 50%;
}
.card.car .info-vente.forthcoming .title-block .right h6 {
  margin-left: 1.4rem;
  text-align: left;
}
.card.car .info-vente .separation-bar-desc {
  position: absolute;
  left: 50%;
  height: 1.5rem;
  width: 1px;
  background-color: black;
}
.card.car .info-vente p {
  display: block;
  font-size: 0.6rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2rem;
}
.card.car .info-vente .left {
  width: 50%;
}
.card.car .info-vente .left p {
  margin-right: 1.4rem;
  color: #443ce3;
  text-align: right;
}
.card.car .info-vente .right {
  width: 50%;
}
.card.car .info-vente .right p {
  margin-left: 1.4rem;
  color: #00da33;
  text-align: left;
}
.card.car button.see-vente {
  display: block;
  font-size: 0.7rem;
  width: 70%;
  padding: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  background: linear-gradient(90deg, #aa1abb, #0552fa);
  transition: transform 0.4s;
  margin: 0 auto;
}
.card.see-all {
  box-shadow: none;
}
.card.see-all button {
  position: relative;
  font-size: 0.7rem;
  width: 100%;
  padding: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  background: linear-gradient(90deg, #aa1abb, #0552fa);
  transition: transform 0.4s;
}
.card.see-all button .arrow {
  display: inline-block;
  margin-left: 0.3rem;
  transition: transform 0.4s;
}
.card.see-all button:hover {
  cursor: pointer;
  outline: none;
  transform: scale(1.05);
}
.card.see-all button:hover .arrow {
  transform: translateX(30%);
}

/*# sourceMappingURL=card-vente.css.map */
