{% extends "Layout.twig" %}

{% block style %}{% endblock %}

{% block content %}

{% if flash.success %}
<div class="alert alert-success" role="alert">
  {{ flash.success }}
</div>
{% endif %}

{% if flash.error %}
<div class="alert alert-danger" role="alert">
  {{ flash.error }}
</div>
{% endif %}


<div class="col-sm-6">
  <form ui-jp="parsley" action="{{ path_for('createFaq') }}" method="post">
    <div class="box">
      <div class="box-header">
        <h2>Créer un FAQ</h2>
      </div>
      <div class="box-body">
        <p class="text-muted">Tous les champs sont obligatoires.</p>
        <div class="row m-b">
          <div class="col-sm-6">
            <label>Question</label>
            <input type="text" placeholder="Entrer la question " class="form-control" placeholder="Entrer la question" id="question_faq" name="question_faq"
              required>
          </div>
          <div class="col-sm-6">
            <label>Introduction</label>
            <input type="text" placeholder="Entrer l'introduction " class="form-control" placeholder="Entrer l'introduction" id="introduction_faq"
              name="introduction_faq" required>
          </div>
        </div>
        <div class="col-sm-6">
            <label>Reponse</label>
            <textarea type="text" placeholder="Entrer la réponse " class="form-control" placeholder="Entrer la réponse" id="reponse_faq" name="reponse_faq"
              required placeholder="Reponse"></textarea>
          </div>
        <div class="dker p-a text-right">
          <button type="submit" class="btn info">Valider</button>
        </div>
      </div>
    </div>
  </form>
</div>


{% endblock %}