@import "../../../MAIN/scss/config";

.section_2{
  margin-top: $body-margin-top;

  .navigation-page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;

    button{
      display: block;
      padding: 16px;
      border: 0;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: $button-normal-font-size;
      text-transform: uppercase;
      box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.15);
      color: #ffffff;
      background: linear-gradient(-135deg, #aa1abb, #de2ef3);
      margin: 0 1rem 0 1rem;

      &:hover{
        outline: none;
      }
    }
  }
  p.number-of-page{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #000000;
    font-size: .8rem;
    margin-top: 1rem;
    margin-bottom: 0;
    .separate-bar-p{
      margin-left: .5rem;
      margin-right: .5rem;
    }
    a{
      text-decoration: underline;
    }
  }
}
