@import "./config.scss";

.separation-bar-marque{
  margin-top: 0;
  .img-container{
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    img{
      height: 3.5rem;
      cursor: pointer;
    }
  }
}
